html{
  background-color: rgb(10, 10, 10);
}
.container-fluid{
  background-color: rgb(17, 17, 17);
}

input[type="text"]{
  background: transparent;
  color: white;
}

input[type="text"]:focus{
  background: transparent;
  color: white;
}